@media screen and (min-width: 991px) {
  .dyn-style-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}

.font_image-crop.title-img-portrait-big {
  height: 75%;
}

.font_image-crop.title-img-portrait-small {
  height: 45%;
}

.font_image-crop.title-img-extreme-landscape-big {
  width: 85%;
}

.font_image-crop.title-img-landscape-big {
  width: 75%;
}

.font_image-crop.title-img-landscape-small {
  height: 15%;
}

.font_image-crop.title-img-extreme-landscape-small {
  width: 90%;
}

.font_image-crop.title-img-portrait-column {
  height: 55%;
}

.font_image-crop.title-img-landscape-column {
  height: 30%;
  width: 65%;
}

.font_image-crop.title-img-extreme-landscape-column {
  width: 75%;
}

.font_image-crop.title-img-landscape-list {
  height: 5rem;
}

.font_image-crop.title-img-portrait-list {
  height: 15rem;
}

.font_image-crop.title-img-portrait2-list {
  height: 10rem;
}

/* ///////// ANIMATION PROMO STRIPES /////////// */
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.promo-font-2_wrapper {
  animation: marquee-left 35s linear infinite;
}

.promo-font_wrapper {
  animation: marquee-right 35s linear infinite;
}

.sponsor-stripe_text {
  animation: marquee-right 35s linear infinite;
}

.paused {
  animation-play-state: paused; /* Pauses the animation */
}

/* ////////// ANIMATION FONT LIST RENDER ////////////// */
@keyframes pulsate {
  0% {
    opacity: 0; /* Initial opacity */
  }
  50% {
    opacity: 1; /* Max opacity */
  }
  100% {
    opacity: 0; /* Final opacity */
  }
}

.loading_logo {
  animation: pulsate 2s ease-in-out infinite; /* Adjust the duration as needed */
}

.font-list_item {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.font-list_item.visible {
  opacity: 1;
  transform: translateY(0px);
}

/* Initial state: invisible and fully transparent */
.invisible-fade {
  opacity: 0;
  transition: opacity 0.2s ease-out; /* Smooth transition for fade-out */
}

/* Fade-in effect using keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Visible-fade class to apply the fade-in effect */
.visiblefade {
  animation: fadeIn 0.2s ease-out forwards; /* 'forwards' keeps the element visible after animation ends */
}

.fadein {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  max-height: 0vh;
}

.fadeout {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  max-height: 100vh; /* Set max-height to 100 viewport height units */
}

.fadein.active {
  opacity: 1;
  max-height: 100vh;
}

.fadeout.active {
  opacity: 0;
  max-height: 0;
}

/* ////////// Style for input range that controls the size //////// */

/* General */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
  height: 10px;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: #4a4a4a;
  height: 1px;
}

/* Handle */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4a4a4a;
  border: none;
  margin-top: -6px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4a4a4a;
  border: none;
  margin-top: -6px;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background: #4a4a4a;
  height: 1px;
}

.v-cloak {
  display: none;
}
